<div class="flex flex-col items-center justify-center gap-12 py-32">
    <h2 class="text-4xl">Panoramica</h2>
    <p class="max-w-9/10">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut condimentum
        justo dui, eget malesuada augue luctus id. Aliquam eleifend faucibus ex
        ut tincidunt. Donec et nisl vitae lacus porttitor condimentum volutpat
        ut arcu. Integer posuere tellus enim, vel volutpat lorem lobortis et.
        Maecenas ornare nisl quis nibh hendrerit elementum. Nullam venenatis
        volutpat quam, at maximus purus luctus a. Suspendisse potenti. Proin
        quis tellus ut lectus euismod suscipit rhoncus eu ligula. Orci varius
        natoque penatibus et magnis dis parturient montes, nascetur ridiculus
        mus. Aliquam erat volutpat. Nam ac volutpat velit. Aenean nec nulla nec
        ipsum finibus feugiat mollis ac nulla. Nullam ac velit elementum,
        convallis ipsum tempor, accumsan ex. Vestibulum augue quam, ornare
        mollis sodales sit amet, gravida at nulla. Praesent eget accumsan ipsum,
        ac bibendum massa. Duis hendrerit volutpat justo, quis pulvinar ipsum
        laoreet quis. Maecenas nec tempor magna. Sed ac suscipit nisi.
    </p>
</div>
