<div class="flex flex-col items-center justify-center gap-8 py-8 xl:py-16">
    <h2 class="text-2xl font-bold lg:text-4xl">Panoramica</h2>
    <p class="w-full xl:max-w-9/10">
        Questo sito raccoglie le esperienze più significative del mio percorso
        FSL (Formazione Scuola Lavoro), quelle che mi hanno formato in modo
        profondo sotto ogni punto di vista. Al suo interno ho raccolto i
        progetti e le attività che considero davvero cruciali per la mia
        crescita: da un lato lo sviluppo delle competenze tecniche, dall’altro —
        e soprattutto — la mia evoluzione umana, grazie ai rapporti, alle
        collaborazioni e alle realtà con cui ho avuto la possibilità di
        confrontarmi.
    </p>
</div>
