---
import { Image } from "astro:assets";
import { projects, type ProjectMetadata } from "../../data/projects";
import ProjectCard from "./ProjectCard.astro";
---

<div
    id="projects"
    class="flex flex-col items-center justify-center gap-8 py-8 xl:py-16"
>
    <h2 class="text-2xl font-bold lg:text-4xl">Progetti realizzati</h2>
    <divProjectMetadata
        class="grid grid-cols-1 items-center justify-center gap-4 sm:grid-cols-2 2xl:grid-cols-3"
    >
        {
            projects.map((project: ProjectMetadata) => (
                <ProjectCard project={project} />
            ))
        }
    </divProjectMetadata>
</div>
